{% extends 'modelo_investimentos.html' %}

{% block titulo_pagina %}
BRD: Obter o valor do imposto de renda deduzido na fonte nos EUA
{% endblock %}


{% block conteudo_investimentos %}

<div class= "grid justify-center">
    <form method="get" action="{% url 'investimento:imposto_dividendo_brd' %}" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="form-group grid grid-cols-2 grid-rows-3 gap-x-4 gap-y-0"> 
            <label for="valor_dividendos" class="col-start-1 row-start-1 form-label text-gray-500">Valor Dividendos (R$)</label>
            <input type="text" name="valor_dividendos" 
                                value="{{request.GET.valor_dividendos}}"  
                                placeholder="ex: 0,0" 
                                class= "col-start-1 row-start-2 form-control
                                        rounded-md border-2 border-gray-100 border-solid 
                                        text-black" />          
            <button type="submit" class="col-start-2 row-start-2 form-check 
                                        bg-amber-900 w-full mx-4 rounded-md
                                        text-white text-lg" >
                Calcular
            </button>
            <div class="col-start-1 col-span-2 row-start-3 text-gray-500 text-xs" >
              <p> </p>
            </div>
        </div>
    </form>
</div>

<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full">
          <thead class="bg-amber-900 border-b">
            <tr>
                  {% for chave in tabela_resultados %}
                    <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
                          {{ chave }}
                    </th>
                  {% endfor %}
            </tr>
          </thead>
          <tbody>
            <tr class="bg-gray-100 border-b">
              {% for chave, valor in tabela_resultados.items %}
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                      {{ valor }}
                  </td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



{% endblock %}