{% extends 'modelo_area-logada.html' %}

{% block titulo %}
    Better Glauco - Investimentos
{% endblock %}


{% block conteudo %}


<h1 class="font-semibold text-2xl mb-4">
    Obter o valor recomendado para negociação do ativo
</h1>

<div class= "grid justify-center">
    <form method="get" action="{% url 'investimento:valor_compra' %}" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="grid grid-cols-[1fr_1fr1_fr] grid-rows-[1fr] gap-4"> 
            <label for="ticket" class="col-start-1 rol-start-1 ">Ticket do BRD</label>
            <input type="text" name="ticket" value="{{ request.GET.ticket }}"  placeholder="ex: BIV39" class= "col-start-2 rol-start-1 rounded-md text-black" />
            <button class="col-start-3 rol-start-1 bg-amber-900 w-full mx-4 text-white text-lg rounded-md" type="submit">
                Pesquisar
            </button>
        </div>
    </form>
</div>
<p class="text-base mb-4">
    {{ request.GET.ticket }}
</p>

<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full">
            <thead class="bg-amber-900 border-b">
              <tr>
                <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
                  #
                </th>
                <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
                  First
                </th>
                <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
                  Last
                </th>
                <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
                  Handle
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-gray-100 border-b">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">1</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  Mark
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  Otto
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  @mdo
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div



{% endblock %}