{% extends 'modelo_investimentos.html' %}

{% block titulo_pagina %}
Obter o valor recomendado para negociação do ativo
{% endblock %}


{% block conteudo_investimentos %}

<div class= "grid justify-center">
    <form method="get" action="{% url 'investimento:valor_compra' %}" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="form-group grid grid-cols-4 grid-rows-3 gap-x-4 gap-y-0"> 
            <label for="ticket" class="col-start-1 row-start-1 form-label text-gray-500">Ticket do BRD</label>
            <input type="text" name="ticket" 
                                value="{{ request.GET.ticket }}"  
                                placeholder="ex: BIVB39" 
                                class= "col-start-1 row-start-2 form-control
                                        rounded-md border-2 border-gray-100 border-solid 
                                        text-black" />
            <label for="valor_US" class="col-start-2 row-start-1 form-label text-gray-500">Valor Origem (U$) <sup>1</sup></label>
            <input type="text" name="valor_US" 
                                value="{{ request.GET.valor_US }}"  
                                placeholder="ex: 0,0" 
                                class= "col-start-2 row-start-2 form-control
                                        rounded-md border-2 border-gray-100 border-solid 
                                        text-black" />
            <label for="valor_BRD" class="col-start-3 row-start-1 form-label text-gray-500">Valor BRD (R$)<sup>2</sup></label>
            <input type="text" name="valor_BRD" 
                                value="{{ request.GET.valor_BRD }}"  
                                placeholder="ex: 0,0" 
                                class= "col-start-3 row-start-2 form-control
                                        rounded-md border-2 border-gray-100 border-solid 
                                        text-black" />            
            <button type="submit" class="col-start-4 row-start-2 form-check 
                                        bg-amber-900 w-full mx-4 rounded-md
                                        text-white text-lg" >
                Pesquisar
            </button>
            <div class="col-start-1 col-span-4 row-start-3 text-gray-500 text-xs" >
              <p> <strong> (1) </strong> 
                Opcional. Preencher caso o valor do ativo no exterior esteja diferente do valor capturado pela API 
              </p>
              <p> <strong> (2) </strong> 
                Opcional. Valor de tela da corretora, para cálculo do Spread 
              </p>
            </div>
        </div>
    </form>
</div>

<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full">
            <thead class="bg-amber-900 border-b">
              <tr>
                {% for operacao, linha in calculo_brd.items %}
                  {% if not forloop.counter0 %}
                    <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
                      Operação
                    </th>
                    {% for chave in linha %}
                      <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
                            {{ chave }}
                      </th>
                    {% endfor %}
                  {% endif %}
                {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for operacao, linha in calculo_brd.items %} 
                <tr class="bg-gray-100 border-b">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                    {{ operacao }}
                  </td>
                  {% for chave, valor in linha.items %}
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                          {{ valor }}
                      </td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>



{% endblock %}