{% extends 'modelo_investimentos.html' %}

{% block titulo_pagina %}
    Alocação
{% endblock %}

{% block conteudo_investimentos %}

<h2 class="font-semibold text-xl mt-1"> Configuração </h2>
<p>Estas configurações afetam somente o perfil ativo</p>
<br>
<div class="flex flex-wrap justify-between space-x-2">

  <div class="max-w-xs rounded-lg bg-white shadow-lg">
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800">
        1 - Caixas
      </h5>
      <p class="mb-4 text-base text-neutral-600">
        Cadastro das categorias de alocação dos investimentos
      </p>
      <a href="{% url 'invest_alocacao:config_caixa' %}"> 
          <button
          type="button"
          class="inline-block rounded bg-neutral-700 px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
          data-te-ripple-init
          data-te-ripple-color="light">
          Editar caixa / alocação
          </button>
      </a>
    </div>
  </div>

  <div class="max-w-xs rounded-lg bg-white shadow-lg">
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800">
        2 - Sub Caixas
      </h5>
      <p class="mb-4 text-base text-neutral-600">
        Cadastro de classes de ativos
      </p>
      <a href="{% url 'invest_alocacao:config_classe_ativo' %}"> 
          <button
          type="button"
          class="inline-block rounded bg-neutral-700 px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
          data-te-ripple-init
          data-te-ripple-color="light">
          Editar classe
          </button>
      </a>
    </div>
  </div>  

  <div class="max-w-xs rounded-lg bg-white shadow-lg">
      <div class="p-6">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800">
          3 - Instituições Financeiras
        </h5>
        <p class="mb-4 text-base text-neutral-600">
          Cadastro de bancos e corretoras
        </p>
        <a href="{% url 'invest_alocacao:config_instituicao_financeira' %}"> 
            <button
            type="button"
            class="inline-block rounded bg-neutral-700 px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
            data-te-ripple-init
            data-te-ripple-color="light">
            Editar instituição
            </button>
        </a>
      </div>
    </div>

    <div class="max-w-xs rounded-lg bg-white shadow-lg">
      <div class="p-6">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800">
          4 - Alocar ativos nas caixas
        </h5>
        <p class="mb-4 text-base text-neutral-600">
          Selecionar os ativos que compõe cada classe de ativo / caixa de investimento
        </p>
        <a href="{% url 'invest_alocacao:config_ativos_alocacao' %}"> 
            <button
            type="button"
            class="inline-block rounded bg-neutral-700 px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
            data-te-ripple-init
            data-te-ripple-color="light">
            Editar alocação
            </button>
        </a>
      </div>
    </div>

</div>

<br><br>
<h2 class="font-semibold text-xl mt-1"> Alocação teórica</h2>
<br>

<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full">
          {% for id_linha, linha in tabela.items %}
            {% if id_linha == 'header'%}
              <thead class="bg-amber-900 border-b">
                <tr>
                      {% for chave, valor in linha.items %}
                        <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
                              {{ chave }}
                        </th>
                      {% endfor %}
                </tr>
              </thead>
              <tbody>
            {% elif 'Total' in id_linha %}
                  {% if forloop.counter|divisibleby:2 %}
                    <tr class="bg-gray-100 border-b">
                  {% else %}
                    <tr class="border-b"></tr>
                  {% endif %} 
                  {% for chave, valor in linha.items %}
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-900">
                          {{ valor }}
                      </td>
                  {% endfor %}
                </tr>     
            {% else %}
              {% if forloop.counter|divisibleby:2 %}
                <tr class="bg-gray-100 border-b">
              {% else %}
                <tr class="border-b"></tr>
              {% endif %} 
              {% for chave, valor in linha.items %}
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        {{ valor }}
                    </td>
                {% endfor %}
              </tr> 
            {% endif %}
          {% endfor %}  
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




{% endblock %}