{% extends 'modelo_principal.html' %}

{% block content %}
<div name="body-formatacao" class="grid grid-cols-[150px_1fr] grid-rows-[50px_1fr_50px] gap-4 " >

    <section id="lateral" class="col-start-1 row-start-1 row-span-2 grid grid-rows-[1/10_1fr_1/10] bg-orange-200">
        {% include 'menu_area-logada.html' %}
    </section>

    <section id="mensagens" class="col-start-2 row-start-1">
        {% if messages %}
            <ul class="px-4 py-4">
                {% for message in messages %}
                    <li 
                        {% if message.tags == 'debug' %} 
                            class=" bg-orange-600 text-white font-semibold "
                        {% endif %}
                        {% if message.tags == 'error' %} 
                            class=" bg-red-200 font-semibold"
                        {% endif %}
                        {% if message.tags == 'info' %} 
                            class=" bg-sky-300 font-semibold"
                        {% endif %}
                        {% if message.tags == 'warning' %} 
                        class=" bg-amber-200 font-semibold"
                        {% endif %}
                        {% if message.tags == 'success' %} 
                        class=" bg-green-300 font-semibold"
                        {% endif %} 
                        >
                        {{ message }}
                    </li>
                {% endfor %}    
            </ul>
        {% endif %}
    </section>
    
    
    <main class="col-start-2 row-start-2">
        {% block conteudo %}
        {% endblock %}
    </main>

    <section id="footer" class="col-start-1 col-span-2 row-start-3">
        {% include 'footer_aberto.html' %}
    </section>

</div>
{% endblock %}

{% block javascript %}
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}