<!DOCTYPE html>
{% load static %}

<html lang="pt-br">

  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5GLTKKCH0F"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-5GLTKKCH0F');
    </script>
    <title>
        {% block titulo %}
        {% endblock %}
    </title>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
                fontFamily: {
                    sans: ['Verdana', 'Tahoma', 'sans-serif' ,'ui-sans-serif'],
                    cursive: ['"Dancing Script"','cursive','sans-serif']
              }
            }
          }
        }
      </script>
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
      <link rel="shortcut icon" type="imagex/png" href="{% static 'imagens/logo_color.ico' %}">


    {% block headCSS %}
    {% endblock %}

  </head>

  <body class="font-sans">
      {% block content %}
      {% endblock %}

      {% block javascript %}
      {% endblock %}
  </body>

</html>