{% extends 'modelo_aberto.html' %}

{% block titulo %}
    Better Glauco
{% endblock %}

{% block conteudo %}


<h1 class="font-semibold text-2xl mb-4">
    O que é o Better Glauco
</h1>

<p class="text-base mb-4">Better Glauco é um sistema para controle de orçamento doméstico
    e de investimentos de pessoas físicas.</p>
<p class="text-base mb-4">Visamos propiciar uma visão a longo prazo das finanças
    pessoais, ajudar as pessoas a saírem das dívidas e passarem a
    investir para obter renda ou atingir objetivos de longo prazo.</p>
<p class="text-base mb-4">Realizamos uma consolidação dos investimentos pessoais, focando
    no desempenho e balanceamento da carteira. Também disponibilizamos um
    controle de orçamento doméstico prético e poderoso para analisar os
    dados, auxiliando o usuário a destinar parte da renda aos aportes nos
    investimentos.</p>
<p class="text-base mb-4">
    No controle de investimentos, inicialmente a base teórica será a
    divisão dos ativos em caixas (renda fixa, variável, reserva de
    emergência etc.), método da <a href="https://www.instagram.com/seabraluciana/" class="text-orange-700 underline decoration-transparent hover:decoration-inherit transition duration-300 ease-in-out">Luciana
        Seabra da casa de análises Spiti</a>, baseada nas práticas dos
    principais alocadores de recursos em atividade.
</p>
<p class="text-base mb-4" >É possível no cenário futuro de open banking obter integrações
    que aprimorem a privacidade do usuário, o que pode permitir a
    disponibilização de um perfil em que o usuário forneça mais
    informações pessoais em troca de uma maior integração com os
    sistemas, sincronizando dados automaticamente.</p>



{% endblock %}