{% extends 'modelo_investimentos.html' %}
{% load crispy_forms_tags %}

{% block titulo_pagina %}
    {{ titulo_pagina }}
{% endblock %}

{% block conteudo_investimentos %}

<div class= "grid justify-center">
    <form method="get" action="{% url 'invest_operacao:nota_corretagem' %}" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="form-group grid grid-cols-4 grid-rows-3 gap-x-4 gap-y-0"> 
            <label for="data" class="col-start-1 row-start-1 form-label text-gray-500">Data operação</label>
            <input type="date" name="data" 
                                value="{{ data|date:'Y-m-d' }}"  
                                placeholder="data da nota" 
                                class= "col-start-1 row-start-2 form-control
                                        rounded-md border-2 border-gray-100 border-solid 
                                        text-black" />
            <label for="total_custos" class="col-start-2 row-start-1 form-label text-gray-500">Total custos </label>
            <input type="number" name="total_custos" 
                                value="{{ total_custos }}"  
                                step = "0.01"
                                placeholder="ex: 0,0" 
                                class= "col-start-2 row-start-2 form-control
                                        rounded-md border-2 border-gray-100 border-solid 
                                        text-black" />
            <label for="ir_fonte" class="col-start-3 row-start-1 form-label text-gray-500">IR Fonte (R$)</label>
            <input type="number" name="ir_fonte" 
                                value="{{ ir_fonte }}"  
                                step = "0.01"
                                placeholder="ex: 0,0" 
                                class= "col-start-3 row-start-2 form-control
                                        rounded-md border-2 border-gray-100 border-solid 
                                        text-black" />          
            <button type="submit" class="col-start-4 row-start-2 form-check 
                                        bg-amber-900 w-full mx-4 rounded-md
                                        text-white text-lg" 
                                  value="Click" 
                                  name="atualizar_nota">
                Atualizar
            </button>
            <button type="submit" class="col-start-4 row-start-4 form-check 
            bg-amber-900 w-full mx-4 rounded-md
            text-white text-lg" 
                                  value="Click" 
                                  name="salvar">
                Salvar nota
            </button>

        </div>
    </form>
</div>

<div class= "grid justify-center">
    {% csrf_token %}
    <form method="get" action="{% url 'invest_operacao:nota_corretagem' %}" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="form-group grid grid-cols-5 grid-rows-1 gap-x-4 gap-y-0">
            <div class="col-start-1 row-start-1">
                {{ form.ativoPerfilCaixa|as_crispy_field }}
            </div>
            <div class="col-start-2 row-start-1">
                {{ form.operacao|as_crispy_field }}
            </div>
            <div class="col-start-3 row-start-1">
                {{ form.quantidade|as_crispy_field }}
            </div>
            <div class="col-start-4 row-start-1">
                {{ form.valor_unitario|as_crispy_field }}
            </div>
            <button type="submit" class="col-start-5 row-start-1 form-check 
                                        bg-amber-900 w-full mx-4 rounded-md
                                        text-white text-lg" 
                                  value="Click" 
                                  name="incluirAtivo">
                {{ nome_botao_form }}
            </button>

        </div>
    </form>    




</div>


{% load django_tables2 %}
{% render_table table %}

 


<div class= "grid justify-center">
  <form method="get" action="{% url 'invest_operacao:nota_corretagem' %}" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="form-group grid grid-cols-1 grid-rows-1 gap-x-0 gap-y-0"> 
        <button type="submit" class="col-start-4 row-start-1 form-check 
        bg-amber-900 w-full mx-4 rounded-md
        text-white text-lg" 
                value="Click" 
                name="novaNota">
                    Cadastrar nova nota
        </button> 
      </div>
  </form>
</div>

{% endblock %}

