{% extends 'modelo_investimentos.html' %}

{% block titulo_pagina %}
    Atualização
{% endblock %}

{% block conteudo_investimentos %}

<h2 class="font-semibold text-xl mt-1"> Atualização </h2>
<p>Atualização da cotação de ativos</p>
<br>

<div class="flex flex-wrap justify-between space-x-2">

    <div class="max-w-xs rounded-lg bg-white shadow-lg">
      <div class="p-6">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800">
          Atualizar por ativo
        </h5>
        <p class="mb-4 text-base text-neutral-600">
          Atualizar cotação de ativos unitariamente
        </p>
        <a href="{% url 'invest_atualizacao:posicao_individual' %}"> 
            <button
            type="button"
            class="inline-block rounded bg-neutral-700 px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
            data-te-ripple-init
            data-te-ripple-color="light">
            Atualizar
            </button>
        </a>
      </div>
    </div>

    <div class="max-w-xs rounded-lg bg-white shadow-lg">
        <div class="p-6">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800">
            Atualizar por corretora
          </h5>
          <p class="mb-4 text-base text-neutral-600">
            Atualizar cotação de ativos relacionados à uma corretora
          </p>
          <a href="{% url 'invest_atualizacao:posicao_corretora' %}"> 
              <button
              type="button"
              class="inline-block rounded bg-neutral-700 px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
              data-te-ripple-init
              data-te-ripple-color="light">
              Atualizar
              </button>
          </a>
        </div>
      </div>


</div>



{% endblock %}