{% extends 'modelo_investimentos.html' %}

{% block titulo_pagina %}
    Atualização
{% endblock %}

{% block conteudo_investimentos %}

<h2 class="font-semibold text-xl mt-1"> Atualização </h2>
<p>Atualização da cotação de ativos</p>
<br>

<div
  name="menu_caixas_operacoes"  
  class="flex flex-wrap justify-between space-x-2">

  <div class="max-w-xs rounded-lg bg-white shadow-lg">
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800">
        Atualizar por ativo (fundos)
      </h5>
      <p class="mb-4 text-base text-neutral-600">
        Atualizar cotação de ativos não listados em bolsa individualmente
      </p>
      <a href="{% url 'invest_atualizacao:posicao_individual_fundo' %}"> 
          <button
          type="button"
          class="inline-block rounded bg-neutral-700 px-6 pt-2.5 pb-2 
            text-xs font-medium uppercase leading-normal text-white
            shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 
            ease-in-out hover:bg-primary-600 
            hover:shadow-[
              0_8px_9px_-4px_rgba(59,113,202,0.3),
              0_4px_18px_0_rgba(59,113,202,0.2)
            ] 
            focus:bg-primary-600 
            focus:shadow-[
              0_8px_9px_-4px_rgba(59,113,202,0.3),
              0_4px_18px_0_rgba(59,113,202,0.2)
            ] 
            focus:outline-none focus:ring-0 active:bg-primary-700 
            active:shadow-[
              0_8px_9px_-4px_rgba(59,113,202,0.3),
              0_4px_18px_0_rgba(59,113,202,0.2)
          ]"
          data-te-ripple-init
          data-te-ripple-color="light">
            Atualizar
          </button>
      </a>
    </div>
  </div>

  <div class="max-w-xs rounded-lg bg-white shadow-lg">
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800">
        Atualizar por ativo (bolsa)
      </h5>
      <p class="mb-4 text-base text-neutral-600">
        Atualizar cotação de ativos listados em bolsa individualmente
      </p>
      <a href="{% url 'invest_atualizacao:posicao_individual_bolsa' %}"> 
          <button
          type="button"
          class="inline-block rounded bg-neutral-700 px-6 pt-2.5 pb-2 
            text-xs font-medium uppercase leading-normal text-white
            shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 
            ease-in-out hover:bg-primary-600 
            hover:shadow-[
              0_8px_9px_-4px_rgba(59,113,202,0.3),
              0_4px_18px_0_rgba(59,113,202,0.2)
            ] 
            focus:bg-primary-600 
            focus:shadow-[
              0_8px_9px_-4px_rgba(59,113,202,0.3),
              0_4px_18px_0_rgba(59,113,202,0.2)
            ] 
            focus:outline-none focus:ring-0 active:bg-primary-700 
            active:shadow-[
              0_8px_9px_-4px_rgba(59,113,202,0.3),
              0_4px_18px_0_rgba(59,113,202,0.2)
          ]"
          data-te-ripple-init
          data-te-ripple-color="light">
            Atualizar
          </button>
      </a>
    </div>
  </div>

  <div class="max-w-xs rounded-lg bg-white shadow-lg">
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800">
        Atualizar dividendos
      </h5>
      <p class="mb-4 text-base text-neutral-600">
        Atualizar dividendos recebidos
      </p>
      <a href="{% url 'invest_atualizacao:dividendos' %}"> 
        <button
          type="button"
          class="inline-block rounded bg-neutral-700 px-6 pt-2.5 pb-2 
            text-xs font-medium uppercase leading-normal text-white
            shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 
            ease-in-out hover:bg-primary-600 
            hover:shadow-[
              0_8px_9px_-4px_rgba(59,113,202,0.3),
              0_4px_18px_0_rgba(59,113,202,0.2)
            ] 
            focus:bg-primary-600 
            focus:shadow-[
              0_8px_9px_-4px_rgba(59,113,202,0.3),
              0_4px_18px_0_rgba(59,113,202,0.2)
            ] 
            focus:outline-none focus:ring-0 active:bg-primary-700 
            active:shadow-[
              0_8px_9px_-4px_rgba(59,113,202,0.3),
              0_4px_18px_0_rgba(59,113,202,0.2)
          ]"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          Atualizar dividendos
         </button>
      </a>
    </div>
  </div>
</div>

<h2 class="font-semibold text-xl mt-1"> Atualização mais recente </h2>
<br>

<div class="flex flex-wrap justify-between space-x-2">
  {% load django_tables2 %}
  <div name="tabela_fundos">
    {% render_table tabela_posicao_fundos %}
  </div>

  <div name="tabela_bolsa">
    {% render_table tabela_posicao_bolsa %}
  </div>

</div>


{% endblock %}